html{

	background: url("imageapp/background-netflix.jpg");
	position: fixed no-repeat;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
}
hr{
        height: 3px;
        background-color: #ff7d95;
        border: double;
}

.logo{
	width: 100px;
	height: 100px;
}
.debut{
	
	margin-top: 90px;
	color: #fff;
	text-transform: uppercase;
	transition: all 7s ease-in-out;
	text-align: center;

}
em{
	font-family:  'Orbitron', sans-serif;
}

.main{
	margin: 0 auto;
	width: 900px;
	height: 350px;
	border-radius: 3px solid #333;
	box-shadow: 8px 8px 12px #aaa;


	-webkit-animation-name:diapo1;
	-webkit-animation-duration:10s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:normal;

	-moz-animation-name: diapo1;
	-moz-animation-duration:10s;
	-moz-animation-timing-function:linear;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:normal;

	animation-name: diapo1;
	animation-duration:10s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-direction:normal;

	
}
@-webkit-keyframes diapo1{
	0%{background-image: url("imageapp/netflix1.jpg");}
	33%{background-image: url("imageapp/netflix2.png");}
	66%{background-image: url("imageapp/netflix3.jpg");}
	100%{background-image: url("imageapp/netflix4.jpg");}
}	

a, h1{
	color: aqua;
}

p{
	font-family: 'Crete Round', serif;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}


footer{
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
	padding-top: 0px;
}